/* Tab container */
.tab {
  display: flex;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;

  justify-content: flex-start; 
  padding-left: 20px;          
}

/* Tab button */
.tab button {
  background: none;
  border: none;
  padding: 12px 18px;
  cursor: pointer;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;

  border-bottom: 3px solid transparent;
  transition: color 0.15s ease, border-color 0.15s ease;
}

/* Hover effect */
.tab button:hover {
  color: #000;
  background-color: #e5e5e5;
}

/* Active tab*/
.tab button.active {
  font-weight: 600;
  border-bottom: 3px solid #4CAF50;
  background-color: #f1f1f1;
}

/* Heading Format */
h1 {
  font-family: Arial, sans-serif;
  color: #2c3e50;
  text-align: center;
}

#add-row-btn {
  margin: 16px auto 0 auto;
  display: block;

  font-family: Arial, sans-serif;
  font-size: 25px;         
  color: #3e3434;            

  background-color: #ffffff;
  border: 0px solid #ffffff;
  padding: 15px 20px;
  border-radius: 6px;

  cursor: pointer;
}

#add-row-btn:hover {
  background-color: #e6e6e6;
}

/* Center wrapper */
#wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}



